* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  order: 1;
}
#main > nav, 
#main > section,
#main > aside {
  flex: 0 0 20vw;
}
#main > nav {
  background: #EF8C86;
  order: 3;
}
#main > aside {
  background: #FCB677;
  order: 2;
}
#main > section {
  background: #FCB677;
  order: 4;
}
header, footer {
  background: #034C65;
  height: 20vh;
}
header, footer, article, nav, aside, section {
  padding: 1em;
}

.input-text {
  min-width: 60px;
  min-height: 40px;
  font-size: 2em;
  padding: 5px;
  border: 2px solid #034C65;
  box-shadow: #0000;
}
.row {
  display: flex;
  min-height: 50px;
  flex-direction:row;
  align-items: center;
}
.button-main {
  border: 1px solid #034C65;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin:  20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
/* Bases Class and Modifier classes */
.callout { border-left: 2px solid salmon;
  margin: 5px;}
.callout-info {border-left: 2px solid lightblue;}
.callout-warning {border-left: 2px solid yellow;}
.callout-danger {border-left: 2px solid red;}

.shape-square{
  width: 300px;
  height: 300px;
  border-radius: 0px;
}

.shape-rectangle{
  width: 500px;
  height: 300px;
  border-radius: 0px;
}
.shape-circle{
  width: 300px;
  height: 300px;
  border-radius:50%;
}
.color-item{
  padding: 0px; 
  margin: 5px;
  border: 1px solid #ffff;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}